* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    -webkit-user-select: none;
}

*::-webkit-scrollbar {
    width: 0 !important;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

html {
    font-size: 10px;
}

p {
    text-indent: 2em;
}

.container > .page:first-child {
    animation: fade-in-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
